name: Contract Testing CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - '**.c'
      - '**.h'
      - 'Dockerfile*'
      - '.github/workflows/contract-test.yaml'
      - 'go.*'
      - 'Makefile'
  pull_request:
    branches:
      - 'main'
      - 'release/*'
  schedule:
    - cron: '0 * * * *'

jobs:
  test:
    name: Contract Test fc2-live-dl-go
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Download build-essential
        run: |
          sudo apt update -y
          sudo apt install -y build-essential libavformat-dev libavcodec-dev libavutil-dev

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false
          cache-dependency-path: go.sum

      - name: Download all Go modules
        run: |
          go mod download

      - name: test
        run: go test -v -p 1 -covermode=atomic -failfast -tags=contract -timeout=10m ./...
